@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-VariableFont.woff2")
    format("woff2-variations");
    font-weight: 400 700;
}


body{
    width: 100%;
}

@layer components{

}

@layer utilities {
    .container {
        @apply px-6 max-w-[90em] w-full mx-auto md:!px-10 xl:!px-[10.3125rem];
    }
}